.wrapper {
width: 300px;
margin-left: auto;
margin-right: auto;
border: 1px solid #ddd;
padding: 10px 45px;
/* padding-bottom: 30px; */
}

h2 {
    text-align: center;
    font-size: 53px;
    margin: 5px 0px;
}
input {
width: 100%;
box-sizing: border-box;
height: 40px;
margin-bottom: 12px;
}
button {
    width: 144px;
    padding: 8px;
    border-radius: 6px;
    height: 40px;
    color: #ffffff;
    border: none;
    font-size: 18px;
}
h3{
    text-align: center;
}
button.depositButton {
    background-color: blue;
}
button.withdrawButton {
    background-color: rgb(255, 0, 0);
}
.btn {
    display: flex;
    justify-content: space-between;
}