.wrapper {
width: 350px;
margin-left: auto;
margin-right: auto;
border: 1px solid #ddd;
padding: 15px 45px;
}

h2{
   
    text-align: center;
}
input {
width: 100%;
box-sizing: border-box;
height: 36px;
}
button {
float: right;
}